


%ubuntu-light{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

%ubuntu-medium{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

%ubuntu-bold{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

%rb-light{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


%rb-regular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

%rb-samibold{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

%rb-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}




// @font-face{
//     font-family: 'SFrancisco', sans-serif;
//     src: url('../fonts/woof2-light') format('woof2'),
//          url('../fonts/woof-light') format('woof');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;   
// }

// так же подключаем для каждого шрифта